


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}

section{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
  padding: 50px 30px;
  border-radius: 10px;
  min-width: 800px;
  max-width: 1000px;
  min-height: 500px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
  position: relative;
  overflow: hidden;
}

.container .form {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
  transition: 0.7s ease-in-out transform;
  overflow: hidden;
}

.container .form.sign-in-form{
  left: 0;
}

.container .form.sign-up-form{
 right: 0;
}

.container .form .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.7s ease-in-out transform;
}

.container .form.sign-in-form .wrapper{
  transform: translateX(100%);
}

.container .form.form.sign-in-form.active .wrapper{
  transform: translateX(0);
}
.container .form.sign-up-form .wrapper{
  transform: translateX(-100%);
}

.container .form.form.sign-up-form.active .wrapper{
  transform: translateX(0);
}

.container .form h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 10px;

}
 
.container .form p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 25px;
  margin-bottom: 30px;
}

.container .form input{
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  border: none;
  background-color: rgba(199, 197, 197, 0.425);
  outline: none;
  padding-left: 15px;
}

.container .form button,
.container .overlay button {
  padding: 10px 15px;
  border: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: rgba(41, 91, 199, 0.568);
  color: white;
  cursor: pointer;

}

.overlay-container {
  position: absolute;
  background-color: #2c3e50;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.7s ease-in-out transform;
}

.container .overlay-container .overlay {
  background-image: url(./1.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0%;
  width: 200%;
  /*background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.7s ease-in-out transform;
  z-index: 1;


}

.container .overlay-container .overlay::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #2c3e50;
  z-index: -1;
  opacity: 0.9;
}

.container .overlay .overlay-left,
.container .overlay .overlay-right {
  flex-basis: 50%;
  text-align: center;

}

.container .overlay h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.container .overlay p{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.container .overlay button{
  background-color: white;
  color: #2c3e50;
  margin-top: 20px;
}